.text-field {
  height: 50dvh;
  padding: 20px;
  background-color: #010101;
  color: #a5a5a5;
  border: 2px dashed #464646;
  border-radius: 0px;
}

.text-field::placeholder {
  color: #04cf65;
  opacity: 1;
}
.convert-button{
    width: 10rem;
    height: 6vh;
    margin-left: 1%;
    background-color: #04cf65;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 5rem;
    font-size: 1.2rem;
    
}



.convert-button:hover{
    background-color: #04cf65;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 5rem;
    font-size: 1.2rem;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.query h2{
  color: #04cf65;
}

.converted-query {
    border: 2px solid #ddd;
    padding: 20px;
    background-color: #010101;
    color: #04cf65;
    border: 2px dashed #464646;
  }
  
  .converted-query h2 {
    color: #04cf65;;
  }
  
  .converted-query p {
    font-size: 16px;
    line-height: 1.5;
    color: #04cf65;
  }
  
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

  .box{
    background-color: #262626;
    padding: 20px;
    border-radius: 20px;
  }
  .box h1{
    color: #04cf65;
  }
  .box p{
    color: #989898;
  }